* {
    box-sizing: border-box;
}
.container{
    width: 1200px;

}
ul>li {
    display: block;
    position: relative;
  
}
.nav{
    width: 500px;
    display: flex;
    background-color: darkgreen;
    justify-content: center;
    margin-right: 10px;
}

li {
    color: white;
   text-transform: uppercase;
   padding: 10px;
   list-style: none;
   text-align: center;
   width: 130px;
}

li:hover {
    background: #3f8059;

}

.hover {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 35px;

}
.hover>.second_item {
    display: block;
}
.active:hover .hover {
    display: block;
    background-color: darkgreen;
 
}
.second_item {
    padding: 10px 0;
    float: left;
}
.clothes {
    left: 127px;
}
.hover {
    width: 130px;
}