.progressbar { 
	height: 20px;
	position: relative;
	background: #555;
	padding: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    width: 300px;
}
.ani {
    height: 100%;
    width: 30%;
    background-color: rgb(43,194,83);
    position: relative;
    overflow: hidden;
    animation: move, linear;
    animation-duration: 3.1s;
    animation-iteration-count: infinite;

}
@keyframes move {
    0% {
      margin-left: 0px;
    }
    50%{
        margin-left: 200px;
    }
    100% {
      margin-left: 0px;
    }
  }
.heart {
    width: 200px;
    height: 200px;
}
img {
    display: block;
    filter: grayscale(1); 
    /* Отвечает за цвет */
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;

}

img:hover {
    filter: grayscale(0);
    transition: all 0.5s ease;
    transform: scale(2);
    /* Отвечает за увеличение */
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid blue;
}
.main div {
    position: absolute;
    background-color: #444;
    top: 50%;
    left: 50%;
    
}
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    transform: translate(-50%, -50%);
}
.hh {
    width: 8px;
    height: 80px;
    background-color: blue;
    transform-origin: 50% 0;
    transform: translate(-50%) rotate(180deg);
    animation: clock 43200s linear 60;
}
.mm {
    width: 6px;
    height: 100px;
    background-color: #000;
    transform-origin: 50% 0;
    transform: translate(-50%) rotate(180deg);
    animation: clock 3600s linear 60;
}
.ss {
    width: 4px;
    height: 120px;
    background-color: red;
    transform-origin: 50% 0;
    transform: translate(-50%) rotate(180deg);
    animation: clock 60s linear 60;
}
@keyframes clock {
    0% {
        transform: translate(-50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%) rotate(540deg);
    }
}